API_ID=36042997
API_HASH=4941c569bc46059f789f2e88155180af
BOT_TOKEN=7813946068:AAGLdUON9cLwRzF-2ZDDoYgCRx0kU1L_X2o
MONGO_DB_URI=mongodb+srv://<ANUJ>:<ANUJKING01>@cluster0.auhkh.mongodb.net/anaya_lofi_wave?appName=Cluster0
LOG_GROUP_ID=-1003647570552
MUSIC_BOT_NAME=anaya_lofi_wave
STRING_SESSION=
